# Required
BOT_TOKEN=your-telegram-bot-token-here

# Optional
ADMIN_CHAT_ID=
COMFY_URL=http://127.0.0.1:8188
WORKFLOW_API_PATH=workflow_api
COMFY_INPUT_PATH=D:\\StabilityMatrix-win-x64\\Data\\Packages\\ComfyUI\\input
COMFY_OUTPUT_PATH=D:\\StabilityMatrix-win-x64\\Data\\Packages\\ComfyUI\\output\\video
OLLAMA_MODEL=llama3
OLLAMA_VISION_MODEL=llava
